body
{
    margin: 0;
    padding: 0;
    /* background-color: #000; */
}

div
{
    height: 50vh;
    width: 80%;
    background: transparent;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    border: 2px solid #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /* animation: animate2 4s infinite; */
    box-shadow: 5px 5px 85px #000;
    border-radius: 50%;
}



div p
{
    position: absolute;
    font-size: 45px;
}

div .p
{
    animation: animate 2s infinite;
}

@keyframes animate
{
    50%, 100%
    {
        margin-top: 10px;
        margin-left: 10px;
        opacity: 0;

    }
}

@keyframes animate2 {
    0%, 20%, 50%, 80%
    {
    
        box-shadow: 5px 5px 85px red;

    }

    10%, 30%, 60%, 100%
    {
    
        box-shadow: 5px 5px 85px blue;

    }
}

